.menu{
    display: flex;
    gap: 30px;
    background-color: beige;
    padding: 15px;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
}
.menu a{
    text-decoration: none;
    color: black;
}

#ceremony, #about {
    margin-top: 50px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}
.party-groups {
    display: flex;
    gap: 50px;
    justify-content: center;

}
.party-groups div{
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
}
.group-title {
    text-align: center;
}
@media (max-width: 600px) {
    .party-groups {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        gap: 15px;
    }
}
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 50px;
}
.hero p{
    font-size: 20px;
}
.timeline-event {
    padding: 20px;
}
.timeline {
    border-left: 2px solid black;
}